<div class="po-wrapper">

    <po-toolbar p-title="MORTES VIOLENTAS INTENCIONAIS e CRIMES VIOLENTOS LETAIS INTENCIONAIS"></po-toolbar>
    
    <po-page-default>
        
        <div>

            <br/><br/><br/><h1 style="text-align: center;">Mortes Violentas Intencionais entre 2011 e 2020 - BR/Regiões</h1>
            <iframe style="width: 100%; height: 700px; border: none;" 
            src="https://flo.uri.sh/story/984041/embed"></iframe>

            <br/><br/><br/><h1 style="text-align: center;">Latrocínios - BR de 2016 à 2020</h1>
            <iframe style="width: 100%; height: 700px; border: none;" 
            src="https://flo.uri.sh/story/1049632/embed"></iframe>

            <br/><br/><br/><h1 style="text-align: center;">CLVI e MVI - 2020 - BR/Estados</h1>
            <iframe style="width: 100%; height: 1000px; border: none;" 
            src="https://flo.uri.sh/story/990845/embed"></iframe>
        </div>

    </po-page-default> 
</div>

