<div class="po-wrapper">

    <po-toolbar p-title="LESÃO CORPORAL SEGUIDA DE MORTE"></po-toolbar>
    
    <po-page-default>
        
        <div>
            <h1 style="text-align: center; ">Lesão Corporal Seguida de Morte - Brasil/Regiões</h1>
 <!--           <h6 style="text-align: center;">*Crimes Violentos Letais Intencionais</h6> -->
            
            <iframe style="width: 90%; height: 950px; border: none; text-align: center; align-items: center;" 
            src="https://flo.uri.sh/story/990812/embed"></iframe>
           
        </div>
        
    </po-page-default> 
</div>

