<div class="po-wrapper">

    <po-toolbar p-title="LATROCÍNIOS e MORTES VIOLENTAS INTENCIONAIS"></po-toolbar>
    
    <po-page-default>
        
        <div>
            <h1 style="text-align: center;">Latrocínios - Brasil/Estados</h1>
            <iframe style="width: 100%; height: 650px; border: none;" 
            src="https://flo.uri.sh/story/983929/embed"></iframe>


            <h1 style="text-align: center;">Mortes Violentas Intencionais - BR/Estados</h1>
            <iframe style="width: 100%; height: 700px; border: none;" 
            src="https://flo.uri.sh/story/983850/embed"></iframe>
    
        
            <br/><br/><br/><h1 style="text-align: center;">Mortes Violentas Intencionais - BR/Regiões</h1>
            <iframe style="width: 100%; height: 700px; border: none;" 
            src="https://flo.uri.sh/story/983874/embed"></iframe>
        </div>
    
    </po-page-default> 
</div>

