<div class="po-wrapper">
    
    <po-page-default  p-title="BASES DE DADOS">   
        <h3>Aqui você encotrará as bases de dados utilizadas neste portal disponíveis para download no formato .xls</h3><br>
        <p>Mortes Violentas intencionais</p>
        <po-button p-label="MVI-BR/Estados" ></po-button>
        <po-button p-label="MVI-BR/Regiões" ></po-button>
        <po-button p-label="MVI-BR/Mapa" ></po-button>
    
        <br/><br/><p>Homicídios Dolosos</p>
        <po-button p-label="CVLI-BR/Estados/2019-2020" ></po-button>
        
        <br/><br/><p>Latrocínios</p>
        <po-button p-label="Latrocínios-BR/Estados" ></po-button>

        <br/><br/><p>Lesão Corporal Seguida de Morte</p>
        <po-button p-label="LCSM-BR/Regiões" ></po-button>

        <br/><br/><p>Outras Categorias</p>
        <po-button p-label="Registros-BR/Estados" ></po-button>
        <po-button p-label="Grid-BR/Estados" ></po-button>

        <br/><br/><p>Outros dados utilizados estão disponiveis no
            <a href="https://forumseguranca.org.br/anuario-brasileiro-seguranca-publica/"
               title="Ir para a pagina do ABSP"> <i>Anuário Brasileiro de Segurança Pública</i></a>.
            </p>
        
    </po-page-default> 
</div>
