
<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<!------------------------------------------------------>
<body>
  <po-page-default>
    <div class="w3-row w3-center" >  
        <div class="w3-content" style="max-width:1000px; margin-top:0px;  margin-bottom:30px; margin-left: 0px;" >
          <div class="w3-panel" style="margin-bottom: 0px;">
            <h1><b>Portal de infográficos interativos sobre Segurança Pública</b></h1>
            <p>Este portal tem como objetivo a divulgação de informações sobre segurança pública atráves de infográficos interativos gerados pelo 
              <a href="https://flourish.studio"
                title="Flourish | Data Visualization & Storytelling"> Flourish</a>.</p>
                <p>Todos os dados utilizados para a construção dos infográficos estão disponívéis no site do  
                  <a href="https://forumseguranca.org.br/anuario-brasileiro-seguranca-publica/"
                    title="Ir para a pagina do ABSP"> Anuário Brasileiro de Segurança Pública</a>.</p>
          </div>

          <!-------------------------- Grid ---------------------------------->
          <div class="w3-row-padding" id="about" style="border-top: 0px; text-align: left;">
            <div class="w3-center w3-padding-64"  >
              <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-20">Bases de Dados e Ferramentas</span>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <img src="/w3images/team3.jpg" alt="Dados" style="width:100%">
                <div class="w3-container">
                  <h3>Anuário Brasileiro de Segurança Pública</h3>
                  <p class="w3-opacity">Fórum de Segurança Pública</p>
                  <p style="text-align: justify;">O Anuário Brasileiro de Segurança Pública se baseia em informações fornecidas pelas secretarias de 
                    segurança pública estaduais, pelas polícias Civis, Militares e Federal, entre outras fontes oficiais 
                    da Segurança Pública.</p>
                  <p><button class="w3-button w3-light-grey w3-block">
                    <a href="https://forumseguranca.org.br/anuario-brasileiro-seguranca-publica/">Visitar o Fórum</a>
                  </button></p>
                </div>
              </div>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <img src="/w3images/team2.jpg" alt="Ferramentas" style="width:100%">
                <div class="w3-container">
                  <h3>Flourish | Visualização de Dados e Infográficos</h3>
                  <p class="w3-opacity">Construção de Infográficos</p>
                  <p style="text-align: justify;">O Flourish é uma das principais ferramentas de criação de infográficos disponíveis para visualização de dados. Ele permite a criação de infográficos
                    interativos em diferentes formatos, além de criar mapas e apresentações em vídeo. </p>
                  <p><button class="w3-button w3-light-grey w3-block">
                    <a href="https://flourish.studio">Ir para o Flourish</a></button></p>
                </div>
              </div>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <img src="/w3images/team2.jpg" alt="Ferramentas" style="width:100%">
                <div class="w3-container">
                  <h3>Angular Framework - Front End</h3>
                  <p class="w3-opacity">Desenvolvimento Web</p>
                  <p style="text-align: justify;">O Angular Framework é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações. É uma reescrita completa do AngularJS. </p>
                  <p><button class="w3-button w3-light-grey w3-block">
                    <a href="https://angular.io/">Ver Documentação</a>
                  </button></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--------------------------  Blog  --------------------------------->

        <footer class="w3-container w3-padding-29 w3-light-grey w3-center">
          <h4>Blog do Autor</h4>

          <div class="po-row" style="margin: 0 auto; width: 9%;">
            <div class="po-lg-1 po-sm-1 po-md-1" style="width: 30px;">
            <a href="mailto:johankevin33@gmail.com" >
              <img style="width: 30px;" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-email-interface-kiranshastry-solid-kiranshastry-1.png"></a>
            </div>
            <div class="po-lg-1 po-sm-1 po-md-1">
              <a href="https://github.com/Jkfreitas/Portal-Web"> 
              <img style="width: 30px;" src="https://img.icons8.com/material-outlined/48/000000/github.png"></a>
            </div>
          </div>

          <div class="po-lg-2 po-sm-2 po-md-2" style="margin-left: 80px; width: 20%;"><br><br>
          <div class="fakeimg" 
          style="border-radius: 100px; background-position: center; height:150px; width: 165px; background-image: url(https://avatars.githubusercontent.com/u/54523900?v=4);
          background-size: 90%;"></div>
          </div>
          
          <div class="po-lg-6 po-sm-6 po-md-6">
          <div class="card">
            <p style="font-weight: bold; font-size: 21px; text-align: center;">Johan Kevin Estevão de Freitas</p><br>
            
            <span> Apaixonado por futebol e por animais,
                construiu este portal de infográficos interativos sobre segurança pública como parte
                do escopo do trabalho de conclusão de curso de Engenharia da Computação pela Universidade
                Federal da Paraíba, tendo como Orientador o professor Ed Porto Bezerra no ano de 2021, encerrando 
                assim, o ciclo da graduação.
            </span>
          </div>
          </div>
        </footer>
        <!-------------------------- Scripts--------------------------------->


        <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demodots");
          if (n > x.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = x.length} ;
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
          }
          x[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " w3-white";
        }
        </script>
  
    </div>
  </po-page-default>
</body>
</html>
