<div class="edit-info">
    <po-toolbar p-title="HOMICÍDIOS DOLOSOS"></po-toolbar>
    
    <po-page-default>  

        <div>
            <h1 style="text-align: center;">Homicídios Dolosos 2019 vs 2020</h1>
<!--            <h6 style="text-align: center;">Crimes Violentos Letais Intencionais</h6>-->
            
            <iframe style="width: 100%; height: 650px; border: none;" 
            src="https://flo.uri.sh/story/984011/embed"></iframe>
           
        </div>
         
        
    </po-page-default> 
</div>

